/* style.css */
h1 {
    text-align: center;
    color: blue;
}

.dishes {
    font-size: 25px;
}

img {
    width: 300px;
    height: auto;
}

h4 {
    text-align: center;
    color: red;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}